In [44]:
import pandas as pd
df = pd.read_csv('student_bmi.csv')
df.head()
df.info()
print(df.columns)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              200 non-null    int64
 1    Height(Inches)"   200 non-null    float64
 2    "Weight(Pounds)"  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB
Index(['Index', ' Height(Inches)"', ' "Weight(Pounds)"'], dtype='object')

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [48]:
df['BMI'] = (700*df[' "Weight(Pounds)"']/df[' Height(Inches)"']**2).round(2)
df
print(df.isnull().sum())
df.describe()

Index                0
 Height(Inches)"     0
 "Weight(Pounds)"    0
BMI                  0
dtype: int64

            Index   Height(Inches)"   "Weight(Pounds)"         BMI
count  200.000000        200.000000         200.000000  200.000000
mean   100.500000         67.949800         127.221950   19.277250
std     57.879185          1.940363          11.960959    1.516698
min      1.000000         63.430000          97.900000   14.960000
25%     50.750000         66.522500         119.895000   18.482500
50%    100.500000         67.935000         127.875000   19.190000
75%    150.250000         69.202500         136.097500   20.230000
max    200.000000         73.900000         158.960000   22.800000

In [51]:
def bmi_ctg(BMI):
    if BMI<18.5:
        return 'Underweight'
    elif 18.5<=BMI<25:
        return 'Normal'
    elif 25<=BMI<30:
        return 'Overweight'
    else:
        return 'Obese'

df['Category'] = df['BMI'].apply(bmi_ctg)

print(df.columns)

df.rename(columns = {
    ' Height(Inches)"' : 'Height (Inches)',
    ' "Weight(Pounds)"' : 'Weight (Pounds)'
}, inplace=True)
df
df.to_csv('mod_student_bmi.csv', index=False)
df.to_excel('mod_student_bmi.xlsx', index=False)

Index(['Index', 'Height (Inches)', 'Weight (Pounds)', 'BMI', 'Category'], dtype='object')

In [52]:
df=pd.read_excel('mod_student_bmi.xlsx')
df

     Index  Height (Inches)  Weight (Pounds)    BMI     Category
0        1            65.78           112.99  18.28  Underweight
1        2            71.52           136.49  18.68       Normal
2        3            69.40           153.03  22.24       Normal
3        4            68.22           142.34  21.41       Normal
4        5            67.79           144.30  21.98       Normal
..     ...              ...              ...    ...          ...
195    196            65.80           120.84  19.54       Normal
196    197            66.11           115.78  18.54       Normal
197    198            68.24           128.30  19.29       Normal
198    199            68.02           127.47  19.29       Normal
199    200            71.39           127.88  17.56  Underweight

[200 rows x 5 columns]